VITE_API_URL=
VITE_FRONTEND_URL=
# Google Looker Studio Embedded Dashboard URL (Optional)
VITE_LOOKER_STUDIO_EMBED_URL=https://datastudio.google.com/embed/reporting/ffbb3172-fb45-4a66-b7f9-4cedfd667baf/page/LFH5F

